.blog{
    width: inherit;
    padding: 40px 0;
    background-color: #515696;
    border-top: 1px solid aqua;
    border-bottom: 1px solid aqua;
}
.blog h2{
    letter-spacing: 1.4px;
    font-size: 30px;
    font-weight: 200;
}
.blog p{
    padding-top: 30px;
    text-align: center;
    width: inherit;
    font-size: 21px;
}
.blockContainer{
    display: flex;
    justify-content: center;
    padding-top: 25px;
}
.block{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    background-color: white;
    margin: auto 15px;
}
.blockContainer .block img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
