.factsContainer{
    width: inherit;
    display: flex;
    padding-top: 15px;
    margin-bottom: 15px;
    justify-content: center;
}
.factBlock{
    width: 190px;
    height: 170px;
    border: 1px solid white;
    position: relative;
}
.number{
    color: white;
    font-size: 60px;
    text-align: center;
    margin-top: 35px;
}
.fact{
    color: white;
    font-size: 22px;
    text-align: center;
}