.info{
    display: flex;
    justify-content: space-around;
    width: auto;
}
.info article{
    display: block;
    padding: 0 30px;
}
.info h4 {
    font-size: 20px;
    font-weight: 100;
    color: white;
    display: block;
    text-align: left;
    padding-top: 30px;
}
.info p{
    padding-top: 30px;
    text-align: left;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
}
.mapContainer{
    width: inherit;
    height: 360px;
    margin-top: 50px;
    border: 1px solid lightgray;
    text-align: center;
}
.map{
    width: inherit;
    height: inherit;
}
.copyright{
    width: inherit;
    background-color: #161617;
}
.copyText{
    color: #9B9797;
    font-size: 15px;
    padding: 20px 10px;
}
 p{
    color: white;
}
h1{
    color: white;
    font-size: 40px ;
}
h2{
    width: inherit;
    text-align: center;
    color: white;
}