.top{
    width: inherit;
    display: flex;
    justify-content: space-between;
}
.logoBtn{
    display: flex;
    width: 20%;
}
.menuButton{
    margin: auto;
}
.element{
    width: 35px;
    height: 10px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    margin-bottom: 7px;
}
.contacts{
    display: flex;
    padding: 15px 0px;
    width: 35%;
}
.contacts a{
    padding-left: 10px;
    letter-spacing: 1.1px;
    color: white;
}
.phone, .mail{
    margin: auto;
    display: flex;
}
.phone img, .mail img{
    width: 17px;
    height: 15px;
}
.phone{
    color: white;
}
.logo{
    margin: auto;
}
.logo h1{
    font-size: 49px;
    font-weight: 300;
}
.socials{
    margin: auto;
}
.socials a{
    display: block;
    height: 38px;
    width: 32px;
}
.socials a.tw{
    background-image: url('../images/icons/icons.png');
    background-position-y: bottom;
}
.socials a.fb{
    background-image: url("../images/icons/icons.png");
    background-position-y: top;
}
.imgContainer{
    width: 100%;
    height: 690px;
    overflow: hidden;
}
.wrapper{
    height: inherit;
    display: flex;
    animation: slider 10s infinite;
}
.wrapper img{
    min-width: 100vw;
    object-fit: cover;
}