
.latestProjects{
    width: inherit;
    padding-top: 40px;
    background-color: black;
}
.latestProjects h2{
    font-size: 33px;
}
.text{
    width: inherit;
    margin-top: 35px;
    margin-bottom: 30px;
    text-align: center;
}
.latestProjects .text a{
    color: white;
    display: inline-flex;
    margin-right: 20px;
    text-decoration: none;
    font-size: 25px;
}
.latestProjects .text .active{
    color: #5757D8;
}
.latestProjects .text .active:before{
    content: "";
    background-color: #5757D8;
    border: 2px solid #5757D8;
}
.latestProjects .text .active:hover:before{
    background-color: #5757D8;
}
.latestProjects .text a:before{
    content: "";
    width: 15px;
    height: 15px;
    border: 2px solid white;
    margin-right: 15px;
    margin-top: 5px;    
    border-radius: 15px;
    display: block;
    transition: 0.2s;
}

.latestProjects .text a:hover:before{
    background-color: white;
    border: 2px solid #6B69FD;
}
.latestProjects .text a:hover{
    color: #8A89ED;
}
.rectangles{
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    margin: 0 auto;
    padding-bottom: 30px;
}
.square{
    display: flex;
    position: relative;
    width: 284px;
    height: 284px;
    background-color: white;
    margin: 15px auto;
}
.square img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease-out;
}
.square img:hover{
    transform: scale(1.05);
}