
.services{
    width: auto;
    background-color: white;
}
.services h2{
    color: black;
    font-size: 30px;
    text-align: center;
    height: 100px;
    padding-top: 40px;
}
.servicesText{
    color: black;
    font-size: 22px;
    text-align: center;
    padding-top: 5px;
}
.servicesSquares{
    width: inherit;
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}
.sSquare{
    margin: 53px 77px;
    width: 160px;
    height: 160px;
    background-color: #7D0A1F;
    text-align: center;
    opacity: 0.4;
    transition: 0.3s;
    cursor: pointer;
}
.sSquare:hover{
    opacity: 1;
}
.sSquare:nth-child(2){
    background-color: #4B4E4F;
}
.sSquare p{
    font-size: 20px;
}
.sSquare img{
    padding: 30px;
}