header .top{
    display: none;
}
.servicesSquares{
    flex-wrap: wrap;
    padding: 30px 0;
}
.servicesSquares .sSquare{
    margin: 10px 57px;
}
.servicesText{
    padding: 0 15px;
    font-size: 20px;
}
.factsContainer{
    flex-wrap: wrap;
}
.blockContainer{
    overflow-x: auto;
    padding-top: 55px;
    justify-content: flex-start;
}
.blockContainer .block{
    min-width: 200px;
    max-width: 200px;
}
.rectangles{
    width: 100vw;
}
section.info{
    display: block;
}
.info article{
    width: auto;
    padding: 30px 10px;
}
.info article h4{
    text-align: center;
    font-size: 22px;
    color: #6F6868
}
.info article p{
    text-align: center;
    font-size: 14px;
}
.copyright .copyText{
    padding: 20px 10px;
    font-size: 14px;

}
.blog h2{
    font-size: 24px;
}
.blog p{
    padding: 20px 10px;
    font-size: 17px;
}
.text{
    margin: 30px 0;
    text-align: center;
}
.latestProjects h2{
    font-size: 20px;
}
.latestProjects .text a{
    display: block;
    padding-bottom: 10px;
    color: white;
    text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.59);
    margin: 0;
    font-size: 18px;
}
.latestProjects .text a:before{
    display: none;
}
.products .small{
    height: auto;
}
.products .bigBlock{
    height: auto;
}