*{
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    box-sizing: border-box;

}
header, main, footer{
    width: 100%;
    height: auto;
    background-color: black;
}


@keyframes slider {
    0% {
        margin-left: 0;
    }
    20%{
        margin-left: 0;
    }
    30%{
        margin-left: -100vw;
    }
    60%{
        margin-left: -100vw;
    }
    70%{
        margin-left: -200vw;
    }
    90%{
        margin-left: -200vw;
    }
    100%{
        margin-left: -300vw;
}
}
